<div class="booking">
  <%= cl_image_tag watch_photo_or_stub(booking.watch), class:"booking-image hidden-xs" %>
  <div class='booking-body'>
    <h3><%= booking.watch.name %></h3>
    <p> <%= link_to booking.user.first_name, user_path(booking.user) %> booked your timepiece from <%= booking.start_date.strftime('%d/%m/%Y') %> to <%= booking.end_date.strftime('%d/%m/%Y') %></p>
    <p><%= booking.watch.description %></p>
    <p>Booking <%= booking.status %></p>
  </div>
  <%= booking_links(booking) %>
  <div class="user-photo-booking">
  <%= cl_image_tag user_avatar_or_stub(booking.user), class:"avatar-large hidden-xs" %>
  <%= link_to "", user_path(booking.user), class: "card-link"  %>
  </div>
</div>
