<h1 class=" text-center">Your bookings:</h1>
<div class="booking">
  <%= cl_image_tag watch_photo_or_stub(booking.watch), class:"booking-image hidden-xs" %>
  <div class='booking-body'>
    <p>
      You are booking <%= link_to booking.user.first_name, user_path(booking.user) %>'s timepiece <strong>from <%= booking.start_date.strftime('%d/%m/%Y') %> to <%= booking.end_date.strftime('%d/%m/%Y') %></strong>
    </p>
    <p><strong>Status</strong>: <span class="label <%= label_status(booking) %>"><%= booking.status %></span></p>
  </div>
  <% if booking.past? %>
    <%= link_to("Add a review for this booking", new_booking_review_path(booking), class: "btn btn-primary booking-button") %>
  <% end %>
  <div class="user-photo-booking">
    <%= cl_image_tag user_avatar_or_stub(booking.watch.user),class:"avatar-large hidden-xs" %>
    <%= link_to "", user_path(booking.watch.user), class: "card-link"  %>
  </div>
</div>
