

<div class="banner-dashboard" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= cl_image_path"unkz1zlofox8pjqec424" %>)">
  <%= cl_image_tag user_avatar_or_stub(@user), class: "avatar-large"%>
  <p><%= @user.first_name %> <%= @user.last_name %></p>
  <%= link_to "Edit profile", edit_user_path(@user) %>
</div>
</div>

<% if @bookings.length != 0 %>
<div class="container">
  <h2 class="text-center">Timepieces rented from you</h2>
  <% @bookings.each do |booking| %>
    <%= render "booking_row_owner", booking: booking %>
  <% end %>
</div>
<% end %>

<br>


<% if @bookings_user.length != 0 %>
<div class="container">
  <h2 class=" text-center">Timepieces you are renting</h2>
  <% @bookings_user.each do |booking| %>
    <div class="row">
      <%= render "booking_row_user", booking: booking %>
    </div>
    <% end %>
</div>
<% end %>


<h2 class="text-center">Timepieces you own</h2>
<div class="your-watches">
  <div class="container">
    <div class="row">
      <% watches = @user.watches.reject { |w| w.hidden == true } %>
      <% watches.each do |watch|%>
      <div class="col-xs-3">
        <%= render "shared/watch_card", watch: watch %>
      </div>
      <% end %>
    </div>
  </div>
</div>
