<div class="container">
  <h1 class=" text-center">Your Bookings:</h1>
  <% @bookings.each do |booking| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="block text-center" style="background: white; border-radius: 10px; margin: 20px">
        <p> Owner:  <%= booking.watch.user.first_name %>
        <%= booking.user.last_name %></p>
        <p> The Time Piece: <%= booking.watch.name %></p>
        <p>Booking start: <%= booking.start %> </p>
        <p>Booking end:  <%= booking.end %> </p>
        <p>Booking status: <%= booking.status %></p>
        </div>
      </div>
    </div>
    <% end %>
  <%= link_to "Back home", watches_path, class: "fa fa-home" %>
</div>
