<div class="container">
  <h1>Your Bookings:</h1>
    <row>
      <% @bookings.each do |booking| %>
      <div class="col-sm-4 col-sm-offset-4">
        <%= booking.user %>
        <%= booking.watch.user %>
        <%= booking.watch.name %>
        <%= Date.strftime(booking.start, %A, %b %d)%>
        <%= Date.strftime(booking.end, %A, %b %d) %>
        <% end %>
      </div>
    </row>
</div>




