<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= simple_form_for [@watch, @booking] do |f| %>
        <%= f.input :start_date, :as => :string, :input_html => { :class => 'datepicker date-start'} %>
         <%= f.input :end_date, :as => :string, :input_html => { :class => 'datepicker date-end'} %>
        <%= f.button :submit, class: "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <script>

    $(document).ready(function() {
      $('.datepicker').datepicker({
        todayHighlight: true,
        datesDisabled: <%= raw @dates_taken.to_json %>
      });
    });

  </script>
<% end %>
