<% @bookings.each do |booking| %>
<p><%= booking.watch.name %></p>
<p><%= booking.start %></p>
<p><%= booking.end %></p>
<p><%= booking.user.first_name %> <%= booking.user.last_name %></p>
<p><%= booking.status %></p>
<%= link_to "Accept the booking", accept_booking_path(booking)  %>
<%= link_to "Decline the booking", reject_booking_path(booking)  %>
<% end %>




