<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= simple_form_for [@user] do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :avatar, as: :attachinary, label: "Add/Change avatar" %>
        <%= f.submit "Change info!", class: "btn btn-primary" %>
      <% end %>

      <% if @user.token.nil? %>
      <%= link_to "Edit password",  edit_user_registration_path(current_user) , {class: "btn btn-danger"} %>
      <% end %>
    </div>
  </div>
</div>
