<div class="container-profile text-center ">
<div class="row" style="background-image: linear-gradient(-225deg, rgba(11,72,135,0.43) 0%, rgba(0,12,12,0.6) 86%),  url(<%= image_path 'time_background.jpg'%>);">
<br>
<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4"><%= cl_image_tag user_avatar_or_stub(@user),
    width: 200, height: 200, crop: :fill, gravity: :face,
    class:"avatar-profile" %></div>
<div class="col-xs-offset-1 col-xs-10 col-sm-offset-4 col-sm-4">
  <h1> <%= "#{@user.first_name} #{@user.last_name}" %> </h1>
</div>
</div>
</div>

<br>

<div class="container container-profile">
  <h2  class="title-user-show text-center"> <%= "#{@user.first_name}'s watches" %> </h2>
  <div class="row">
    <% @user.watches.each do |watch| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= cl_image_path watch_photo_or_stub(watch), crop: :fill %> );">
        <div class="card-description">
          <h2><%= watch.name %></h2>
          <p><%= watch.price %>€/day</p>
        </div>
        <a class="card-link" href= ></a>
        <%= link_to "", watch_path(watch), class:"card-link"  %>
      </div>
    </div>
    <% end %>
  </div>
</div>



