<div class="navbar-wagon ">
  <!-- Logo -->
  <%= link_to root_path , class: "navbar-wagon-brand" do %>
    <%= image_tag 'logo.png' %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>


      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= cl_image_tag user_avatar_or_stub(current_user), width: 200, height: 200, crop: :fill, gravity: :face,
          class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_path(current_user) do %>
                <i class="fa fa-pencil"></i> <%= t(".profile", default: "Edit profile") %>
              <% end %>
            </li>

            <li>
              <%= link_to bookings_path do %>
                <i class="fa fa-money"></i> <%= t(".profile", default: "My bookings") %>
              <% end %>
            </li>
            <li>
              <%= link_to dashboard_path do %>
                <i class="fa fa-money"></i> <%= t(".profile", default: "My dashboard as an owner") %>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <!-- Button (call-to-action) -->

    <%= link_to t(".top_call_to_action", default: "Create a watch"), new_watch_path, class: "navbar-wagon-item navbar-wagon-button btn" %>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>



    <% end %>
      </div>

</div>
