<%= simple_form_for @watch do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price, :label => "Price /day" %>
  <%= f.input :photo, as: :attachinary %>
  <div class="add-watch-btn">
  <%= f.submit "Add this watch!", class: "btn btn-primary" %>
<% end %>
  </div>
