<div class="banner" style="background-image: linear-gradient(-225deg, rgba(11,72,135,0.43) 0%, rgba(0,12,12,0.6) 86%),  url(<%= image_path "http://res.cloudinary.com/progapandist/image/upload/v1479909657/unkz1zlofox8pjqec424.jpg"%>);">
  <div class="banner-content">
    <h1>Feel history on your wrist </h1>
    <a><%= link_to "Sign up", new_user_session_path, class: " home-button btn btn-primary btn-lg" %></a>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @watches.each do |watch| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= cl_image_path watch_photo_or_stub(watch), crop: :fill %> );">
        <div class="card-description">
          <h2><%= watch.name %></h2>
          <p><%= watch.price %>€/day</p>
        </div>
        <%= link_to "", watch_path(watch), class:"card-link"  %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% if current_user %>
<%= link_to "Create a new watch", new_watch_path  %>
<% end %>
