<%# TODO: add delete button for own watches %>
<%# TODO: make sure logged out user sees "login in order to book" stub %>

<div class="container">
  <div class="row">
    <%# Info column %>
    <div class="col-xs-12 col-md-6">
      <h1><%= @watch.name %></h1>
      <h3>Description: </h3>
      <p>
        <%= @watch.description %>
      </p>
      <div>
        <%= cl_image_tag watch_photo_or_stub(@watch), :width => 300, :height => 300, :crop => :fill %>
      </div>
      <p>Belongs to:
      <%= link_to "#{@watch.user.first_name} #{@watch.user.last_name}", user_path(@watch.user)%>
      </p>
      <%# TODO: refactor to helper %>
      <% if (user_signed_in? && (current_user.id == @watch.user_id)) %>
        <%= link_to "Edit watch", edit_watch_path(@watch), class: "btn btn-sm btn-default"%>
      <% end %>
      <% if (user_signed_in? && (current_user.id != @watch.user_id)) %>
        <%= render 'watches/booking_form_embed' %>
      <% end %>
    </div>
    <%= render 'watches/map', watch: @watch, map_circle: @map_circle %>
</div>
