<div class="container">
  <h1><%= @watch.name %></h1>
  <h3>Description: </h3>
  <p>
    <%= @watch.description %>
  </p>
  <div>
    <%= cl_image_tag watch_photo_or_stub(@watch), :width => 300, :height => 300, :crop => :fill %>
  </div>
  <p>Belongs to:
  <%= link_to "#{@watch.user.first_name} #{@watch.user.last_name}", user_path(@watch.user)%>
  </p>
  <% if (user_signed_in? && (current_user.id == @watch.user_id)) %>
    <%= link_to "Edit watch", edit_watch_path(@watch), class: "btn btn-sm btn-default"%>
  <% end %>
</div>
<%= link_to "Book this watch!", new_watch_booking_path(@watch)  %>
<br>
